/*-------------------------------header--------------------------------*/
body{
    width: 1280px;
    margin: auto;
}
header{
    height: 189px;
}
.header-color{
    color: #4BCAFF;
}
.header-link{
    color: #000;
    text-decoration: none;
}
h1{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 50px;
}
.header-navigation{
    display: flex;
    width: 1280px;
    padding-left: 0;
}
ul li{
    list-style-type: none;
}
.item{
    text-decoration: none;
    border: 1px solid #ffffff;
    background-color: #35444F;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
}
.special-item{
    text-decoration: none;
    border: 1px solid #ffffff;
    background-color: #35444F;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.box-1{
    flex-grow: 1.8;
}
.box-2{
    flex-grow: 1.9;
}
.box-3{
    flex-grow: 1;
}
.box-4{
    flex-grow: 1.7;
}
.box-5{
    flex-grow: 1.6;
}
.box-6{
    flex-grow: 1.5;
}
.header-navigation a{
    text-decoration: none;
    color: white;
}
.item:hover {
    background-color: #222F3A;
}
.item:active {
    background-color: #222F3A;
}


/*------------------------------------main---------------------------------*/
main{
    display: flex;
    column-gap: 51px;
}
.left-sidebar{
    border: 1px solid #DBDBDB;
    width: 344px;
    height: 399px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0px;
    padding: 0;
}
.left-sidebar-item{
    padding: 25px 0px 25px 30px;
    font-size: 25px;
}
.left-sidebar-item a{
    text-decoration: none;
    color: #495863;
}
.left-sidebar-item:hover{
    background-color: #DBDBDB;
    color: #000;
}
.left-sidebar-item a:hover{
    color: #000;
    padding: 0px 0px 0px 40px;
}
.right-block{
    width: 885px;
    display: flex;
    flex-direction: column;
}
.top-block{
    width: 883px;
    height: 529px;
    border: 1px solid #DBDBDB;
    display: flex;
    box-sizing: border-box;
    padding-bottom: 50px;
    
}
img{
    width: 320px;
    height: 381px;
    margin: 74px 281px 74px 281px;
}
.top-block:hover{
    justify-self: center;
    transform: scale(1.05);
    transition: transform 0.9s;

}
.bottom-description{
    margin: 0 0 3px 0;
    width: 885px;
}
.bottom-block{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*----------------------------footer------------------------------*/
footer{
    display: flex;
    margin-bottom: 20px;
}
.footer-block{
    display: flex;
    width: 1280px;
    justify-content: space-around;
    background-color: #63696E;
    padding: 0;
}
.footer-item{
    border: 1px solid #63696E;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.footer-item a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    margin-right: 2px;
    padding-right: 20px;
    padding-left: 20px;
}
.special{
    flex-grow: 2;
    text-align: end;
    padding-right: 30px;
    border: 1px solid #63696E;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000;
    font-size: 22px;
}
.footer-item a:hover{
    color: #3181A6;
    text-decoration: underline;
}
